<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= auto_discovery_link_tag :rss, formatted_articles_url(:rss) %>
  <link rel="Shortcut Icon" href="../images/favicon.ico">
  <link rel="Bookmark" href="../images/favicon.ico">
  <title>Zeroath  --关注编程,网络,以及一些个人爱好的家伙.</title>
  <!--浏览器的判断引入不同的css-->
  <%= detect_brower %>
  <%= stylesheet_link_tag 'nifty'%>
  <%= javascript_include_tag 'prototype','nifty','lightbox'%>
  <script type="text/javascript">
  	window.onload=function(){
  		Nifty('.contentable');
  	}
  </script>
</head>
<body topMargin="0">
  <div id="container">
	  <%= render :partial => 'blog/header' %>
	  <div id="undercolor">
	  </div><!-- #undercolor-->
	  <div id="main" class="clearfix">
	    <%= yield %>
	  </div>
	</div>
	<div id="footer">
	  <ul class="explanation">All rights reserved.Designed by <%= link_to "Ruby on Rails","http://rubyonrails.org",:popup => true %><br />
	  Produced by <%= link_to "zshuaibin",about_path, :popup => true%>.
	  </ul>
	</div><!-- #footer-->
<!--<p style="color: green"><%= flash[:notice] %></p>-->
</body>
</html>
